@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}

* {
    box-sizing: border-box;

}
:root {
    scroll-padding-top: 5rem; /* Adjust this value if your header height changes */
}
main {
    max-width: 100vw;
    overflow-x: hidden;
}

#mobile-nav-menu {
    overflow: hidden;
    max-width: 100vw;
}

header {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
section {
    max-width: 100vw;
    overflow-x: hidden;
}

.project-card {
    max-width: 100%;
}
.project-card {
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-10px);
}
.nav-scrolled {
  transform: translateY(-100%);
  }

  @keyframes fadeInDown {
      from {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }

  @keyframes fadeOutUp {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
      }
  }

  .nav-scrolled {
      animation: fadeOutUp 1s ease-out forwards;
  }

  .nav-visible {
      animation: fadeInDown 0.5s ease-out forwards;
  }

  .hover-underline-animation {
      display: inline-block;
      position: relative;
  }

  .hover-underline-animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #64ffda;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
  }

  .gradient-text {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(45deg, #64ffda, #48bb78);
      animation: gradient-shift 5s ease infinite;
  }

  @keyframes gradient-shift {
      0% {  
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

